
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-image: url("/resources/images/tło.png");
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

/*CSS for main paige */

#category-header {
    display: inline-block;
    margin-top: 30px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

#menu {
    width: 100%;
    background-color: #fce45d;
    padding:15px;
    height: 60px;
    text-align:center;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-top : 1px solid #ccc;
    border-bottom : 1px solid #ccc;
    position:sticky;
    top:0;
}

#main-page-search-item-form {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
 }

#main-page-search-item-form input {
 border-radius: 5px;
 background-image: url("/resources/images/search_icon.png");
 background-size: 25px;
 background-repeat: no-repeat;

}

#main-page-search-item-form input[type=text] {
padding-left: 30px;

}

#search-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

input {
    height: 30px;
    width: 280px;
    border: 2px solid #ccc;
    background-color: whitesmoke;
    font-size: 18px;
}

#content {
 width: 1160px;
    background-color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    resize: vertical;
    overflow: hidden;
    box-shadow: 3px 3px 20px 2px #ccc;

}

ol {
     list-style-type: none;
     padding:0;
     margin:0;
     display: inline-block;
}

.search-product-form {
    float:left;
    margin-left:400px;
}

ol > li > ul {
    display: none;
}

ol > li > ul > li  {
    list-style-type: none;
    background-color: #fce45d;
    position: relative;
    border-top: 1px dotted black;
    height: 100px;
    width: 200px;
    padding: 20px;
   }

ol > li > ul > li:hover {
    background-color: #E3CE59;
    cursor: pointer;
}

ol > li {
    float:left;
    width:220px;
}

ol > li:hover > ul {
    display: block;
}

#content-list-header {
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    color: #008CBA;
}

#content-list {
    background-color: white;
    height: fit-content;
    resize: vertical;
    overflow: hidden;
}


/*CSS for login page. */

.login-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

#login-container {
    height: 420px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    box-shadow: 3px 3px 20px 2px #ccc;
    border-radius: 0px 0px 10px 10px;
    display: block;
    text-align: center;
    padding-top: 40px;
}

#login-head {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    height: 60px;
    background-color: #fce45dd3;
    box-shadow: 3px 3px 20px 2px #ccc;
    border-radius: 10px 10px 0px 0px;
    display: block;
    text-align: center;
    margin-top: 80px;
    border-bottom: 1px solid #ccc;
    letter-spacing: 2px;
}

#search-button:hover {
    background-color: #007BAA;
}

.login-button:hover {
    background-color: #007BAA;
}

#login-header {
    display: inline;
}

.product-tile {
    width: 1120px;
    margin: 20px;
    height: 220px;
    border: 1px solid #ccc;

}

.product-tile:hover {
     box-shadow: 1px 1px 6px 3px #ccc;
     cursor: pointer;
}

#photo-tile {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
}

#name-tile {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

#description-tile {
    width: 320px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

#price-tile {
    width: 100px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}

#action-tile {
   margin-top: 10px;
    float:left;
    width: 140px;
    height: 200px;
    margin-right:10px;
}

#category-tile {
    margin-top:10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* CSS for adding product site*/

#wrapper {
    margin-top: 20px;
    width: 700px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 2px #ccc;
}

#add-product-head {
    height: 80px;
    background-color: #fce45dd3;
    letter-spacing: 2px;
    border-bottom: 2px solid #ccc;
    border-radius: 10px 10px 0px 0px;
    padding: 1px;
}


#product-name {
    font-size: 22px;
    padding: 10px;
    height:100px;
    background-color: whitesmoke;
    border-bottom: 2px solid #ccc;
}

#add-product-input {
    height: 26px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: white;
    font-size: 18px;
}


#product-category {
    height: 90px;
    padding: 10px;
    font-size: 22px;
    background-color: white;
    border-bottom: 2px solid #ccc;
}

#product-description {
    height: 50px;
    padding: 10px;
    background-color: whitesmoke;
}


#textarea-product-description {
    height: 150px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

#text-area {
    height: 180px;
    background-color: whitesmoke;
    border-bottom: 2px solid #ccc;
}

#product-price {
    padding: 20px;
    height: 70px;
    border-bottom: 2px solid #ccc;

}

#product-photo-add {
    height: 135px;
    padding: 20px;
    background-color: whitesmoke;
    border-bottom: 2px solid #ccc;
}

#add-product-button {
    padding-top: 30px;

}

input {
    background-color: white;
}

img {
 width: 200px;
 height: 200px;

}

.category-list {
    display: inline-flex;
}

.category-item {

}

.category-icon {
 width: 24px;
 height: 24px;
 padding-right: 5px;
 vertical-align: bottom;
}



#addUserForm {
    width: 500px;
    height: 600px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 2px #ccc;
}

#main-page-link {
    margin-top: 40px;
    text-align: center;

}

.update-user-header {
   padding-top: 20px;
}

.user-form-input {
    display: inline-block;
    margin-top: 40px;
    margin-left: 20px;
}
.user_form_input-label {
    display: inline-block;
    margin-bottom: 10px;
}

.check {
       margin-top: 20px;
       font-size: 18px;
   }

#main-page-link-on-login-page {
    margin-top: -20px;
    text-align: center;

}


/* css for footer */

#footer {
     width: 100%;
     background-color: whitesmoke;
     padding:15px;
     height: 60px;
     text-align:center;
     text-transform: uppercase;
     border-top : 1px solid #ccc;
     border-bottom : 1px solid #ccc;
     bottom: 0;
     left: 0;
}
