#header {
    text-align: center;
}

#addButton {
    float: left;
    width: 30%;
    margin: 5px;
}

#searchBar {
    float: right;
    width: 50%;
}

#clientTable {
    width: 100%;
    border: 1px solid black;
}

th {
    background-color: #4CAF50;
    color: white;
    border: 1px solid black;
}

#clientTableRow:nth-child(even) {
    background-color: #f2f2f2;
    border: 1px solid black;
}

.error {
    color: red;
}

#addUserForm {
    border: 1px solid black;
    align-content: center;
    height: 80px;
    width: 280px;
    margin: auto;
}

#addUserButton {
    margin: auto;
}

#mainPageLink {
    text-align: center;
}

